# Виртуальное окружение
venv/
__pycache__/
*.pyc

# База данных SQLite (чтобы не коммитить ее в репозиторий)
data/fortunes.db

# Файлы окружения с чувствительными данными (токены, пароли)
.env

# Игнорим админку если понадобится но думаю что нет птому что все данные можно перенести в .env
# app/admin.py